html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.bg {
    background-color: #ccc;
}

.music-db-header {
    color: #FFFFFF;
    font-family: 'Monoton', cursive;
    font-size: 3.5em;
}

.artistBox {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 1px #aaa;
    transition: box-shadow 0.5s;
}

.artistBox:hover {
    box-shadow: 0 0 20px 1px #333;
}

.artistBox img {
    transition: transform 0.5s;
}

.artistBox:hover img {
    transform: scale(1.1);
}

.artistBtn {
    position: absolute;
    bottom: 5px;
    left: 5px;
    transition: all 0.5s;
}

.artistBtn:hover {
    bottom: 15px;
    left: 15px;
}

.artistBtn:hover a {
    text-decoration: none;
}