html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #ccc;
}

.music-db-header {
    color: #FFFFFF;
    font-family: 'Monoton', cursive;
    font-size: 3.5em;
}

.box {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 1px #aaa;
    transition: box-shadow 0.5s;
}

.box:hover {
    box-shadow: 0 0 20px 1px #333;
}

.box img {
    transition: transform 0.5s;
}

.box:hover img {
    transform: scale(1.1);
}

.box-btn {
    position: absolute;
    bottom: 5px;
    left: 5px;
    transition: all 0.5s;
}

.box-btn:hover {
    bottom: 15px;
    left: 15px;
}

.box-btn:hover a {
    text-decoration: none;
}

.album-details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5%;
    text-align: center;
    color: #000;
    background-color: rgba(200, 200, 200, 0.5);
    visibility: hidden;
    transition: visibility 3s;
}

.box:hover .album-details,
.box:focus .album-details {
    visibility: visible;
}

.album-details h2 {
    margin-top: 10%;
    font-size: 1.75rem;
}

.album-details h3 {
    font-size: 1.5rem;
}

.album-details h4 {
    font-size: 1.25rem;
}

.album-details h5 {
    font-size: 1rem;
}

/* Not Found Style */
#handboy {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
}

#girllight {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl {
    animation: swinghair ease-in-out 1.3s infinite alternate;
    transform-origin: 60% 0%;
    transform-box: fill-box;
}

#zero {
    transform-origin: bottom;
    transform-box: fill-box;
}

/*************swing************/
@keyframes swing {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}


/*************swing hair************/
@keyframes swinghair {
    0% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(-6deg);
    }
}
